.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
  width: calc(25% - 24px);
  gap: 24px;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 1;
  object-fit: cover;
  min-height: 200px;
}

.cards .card-lg {
  width: calc(50% - 24px);
}

.cards .card-bg-blue {
  background-color: #6a5acd63;
}

.cards .bg-red {
  background-color: #bc8f8f91;
}

.cards .bg-org {
  background-color: #ffa5004d;
}

.cards .bg-violet {
  background-color: #ee82ee4d;  
}

.cards .bg-brown {
  background-color: #a52a2aba;
  color: white;
}

.cards .flip {
  display: flex;
  flex-direction: column-reverse;
}