.info-container {
    background-color: #eb1933;
    color: #fff;
    padding: 10px 0;
    border-radius: 10px 0 0 0;
}

.info {
    width: 1200px;
    margin: 0 auto;
}

.info > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info > div > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.info p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    line-height: 22px;
    font-weight: lighter;
}

.info p a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

span.icon {
    width: 18px;
    height: 18px;
}